mat-card {
  background-color: #4b237c;
}

mat-card-title {
  text-shadow: 2px 2px black;
}

form {
  display: flex;
  flex-direction: column;
}

button {
  margin: 20px 10px 0 0;
  border-radius: 10px;
}

.cancel-button,
.save-button {
  text-shadow: 2px 2px black;
}

.cancel-button {
  background: #c93d3d;
}

.save-button {
  background: #461f7a;
}

.cancel-button span:hover,
.save-button span:hover {
  font-size: 1.1rem;
  transition: 0.1s ease-in;
}
