<div class="max-wid mat-elevation">
    <table mat-table [dataSource]="sale">
        <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef>Código do Imóvel</th>
            <td mat-cell *matCellDef="let row">{{row.codigo}}</td>
        </ng-container>

        <ng-container matColumnDef="nomeCorretor">
            <th mat-header-cell *matHeaderCellDef>Corretor que Vendeu</th>
            <td mat-cell *matCellDef="let row">{{row.nomeCorretor}}</td> 
        </ng-container>

        <ng-container matColumnDef="comprador">
            <th mat-header-cell *matHeaderCellDef>Nome do Comprador</th>
            <td mat-cell *matCellDef="let row">{{row.comprador}}</td>
        </ng-container>

        <ng-container matColumnDef="valorVenda">
            <th mat-header-cell *matHeaderCellDef>Valor da Venda</th>
            <td mat-cell *matCellDef="let row">{{row.valorVenda}}</td>
        </ng-container>

        <ng-container matColumnDef="dataVenda">
            <th mat-header-cell *matHeaderCellDef>Data de Venda</th>
            <td mat-cell *matCellDef="let row">{{row.dataVenda}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
